<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход / Регистрация</title>
    <style>
        /* Поля ввода и кнопка войти */
        .login-form {
            text-align: center;
            margin-top: 200px;
        }
        .login-form input {
            margin-bottom: 10px;
            padding: 5px;
        }
        .login-form button {
            padding: 10px 20px;
        }
    </style>
</head>
<body>
    {% include 'menuup.html' %}
    <div class="login-form">
        <form action="/logreg" method="post">
            <h2>Вход</h2>
            <input type="text" placeholder="Ник" name="username">
            <input type="password" placeholder="Пароль" name="password">
            <button  type="submit" name="lr" value=1>Войти</button>
            <button  type="submit" name="lr" value=2>Зарегистрироваться</button>
            {{statuspas}}
        </form>
    </div>
</body>
</html>