<head>
    <style>
        /* Фиксированное меню сверху */
        .allmenu{
            display: flex;
        }
        .menu {
<!--            position: fixed;-->
            top: 0;
            left:0 ;
            width: 100%;
            background-color: #f1f1f1;
        }
        .log {
<!--            position: fixed;-->
            top: 0;
            text-align: right;
            width: 100%;
            background-color: #f1f1f1;

        }
    </style>
</head>
<body>
    <div class="allmenu">
        <div class="menu">
            <a href="/">Главная</a>
            <a href="/museumvov">Музей ВОВ</a>
            <a href="/museum">Музей</a>
            <a href="/logreg">Войти</a>
            <a href="/ar">AR</a>
        </div>
        <div class="log">
            <a href="/logreg">Войти</a>
        </div>
    </div>
</body>