<head>
    <style>
        /* Фиксированное меню сверху */
        .allmenu{
            display: flex;
        }
        .menu {
            position: fixed;
            top: 0;
            left:0 ;
            width: 100%;
            background-color: #f1f1f1;
        }
        .log{
            position: absolute;
            top: 0;
            right: 50px;
        }
    </style>
</head>
<body>
    <div class="allmenu">
        <div class="menu">
            <a href="/"><img src="static\home.png" width="70"></a>
            <a href="/museumvov"><img src="static\musemVOV.png" width="70"></a>
            <a href="/museum"><img src="static\musem.png" width="70"></a>
            <a href="/ar"><img src="static\AR.png" width="70"></a>

        </div>
    </div>
    <div class="log">

        <a href="/logreg">Войти</a>
    </div>

</body>